.body{
    background-color: aliceblue;
}


.mycard{-webkit-box-shadow: 14px 9px 15px -2px rgba(0,0,0,0.93); 
    box-shadow: 14px 9px 15px -2px rgba(0,0,0,0.93);
    background-color: white;
   

}
.mycard:hover{
    border: 2px solid rgb(93, 114, 168);
   
}
.mr-1{
    margin-right: 184px;
}

.w-1{
    font-size: larger;
    color: black !important;
    font-weight: 400;
}
.w-1:hover{
    color: blueviolet !important;
}
.card-text{

}
.wr-10{
    margin-top: 20px;
}
.eh-10{
    font-size: xxx-large;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.we-4{
    overflow: hidden;
    
}


.we-4 img:hover{
   transform: scale(1,2);
   transition: .3s ease-in-out;
}



.p-100{
    margin-right: 250px;
}


